@model LocalConnWeb.ViewModels.GenLCHotelSearchModel
@{
    ViewBag.Title = "OfferHotelList";
    Layout = "~/Views/Shared/_LayoutDetails.cshtml";
}
<section class="card-area section--padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="filter-wrap margin-bottom-30px">
                    <div class="filter-bar d-flex align-items-center justify-content-between">
                        <form method="get" action="/genlchotels/SearchHotels" data-otf-ajax="true" data-otf-target="#DataGrid">
                            <div class="d-flex bd-highlight">
                                <div class="p-2 flex-fill bd-highlight"><h3 class="title font-size-16 pt-1">Latest Offers</h3></div>
                            </div>
                        </form>
                    </div><!-- end filter-bar -->
                </div><!-- end filter-wrap -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
        <div class="row">
            <div class="col-md-12">
                @if (Model.hotelofferlist.Count() > 0)
                {
                    <div class="row">
                        @foreach (var item in Model.hotelofferlist)
                        {

                            <div class="col-lg-4 responsive-column">
                                <div class="card-item">
                                    <div class="card-img">
                                        <a href="tour-details.html" class="d-block">
                                            <img src="@item.PhotoThumbPath" alt="@item.PhotoCaption">
                                        </a>
                                        <span class="badge">@item.HomeTypeName</span>
                                    </div>
                                    <div class="card-body">
                                        <h3 class="card-title ellipsis"><a href="#">@item.HotelName</a></h3>
                                        <p class="card-meta ellipsis">@item.HotelAddress</p>
                                        <div class="card-rating">

                                            @if (item.OverallOfferPercentage != 0)
                                            {
                                                <span class="badge text-white">@item.OverallOfferPercentage% Off</span>
                                            }
                                            else
                                            {
                                                <span class="">&nbsp;</span>

                                            }
                                        </div>
                                        <div class="card-price d-flex align-items-center justify-content-between">
                                            <p>
                                                <span class="price__num before-price color-text-3"><i class="fa fa-rupee"></i> @item.RoomTypePrice.ToString("0.00")</span><br />
                                                <span class="price__num"><i class="fa fa-rupee"></i> @item.OfferPrice.ToString("0.00")</span>
                                                <span class="price__text">Per night</span>
                                            </p>
                                            @if (User.Identity.Name != "")
                                            {
                                                <a href="/home/hoteldetails/@item.HotelID" class="btn-text">Book Now<i class="la la-angle-right"></i></a>
                                            }
                                            else
                                            {
                                                <a href="/home/hoteldetails/@item.HotelID" class="open-homeEvents theme-btn theme-btn-small" data-toggle="modal" data-target="#loginPopupForm">Book Now</a>
                                            }
                                        </div>
                                    </div>
                                </div><!-- end card-item -->
                            </div><!-- end col-lg-4 -->
                        }
                    </div>
                }
                else
                {
                    <div class="text-center p-2" style="margin-top:50px;">
                        <img src="~/Content/img/no_record.png" alt="no record" /><br /><br />
                        <h4 class="text-danger">Oops !!</h4>
                        <span class="text-danger">No result found for your search..</span>
                    </div>
                }
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end card-area -->



@section Scripts{

  
    @*click event set the value of one anchor tag to login model anchor tag*@
    <script type="text/javascript">
        $(document).on("click", ".open-homeEvents", function () {
            var link = $(this).attr('href')
            $(".modal-body #eventId").attr("href", link);
        });
    </script>

}