@model LocalConnWeb.Areas.Admin.CustomModels.LCHotelVM

<style>
    .fare {
        font-size: 40px;
        font-weight: bold;
        font-family: 'Bookman Old Style';
        color: #2a4a21;
    }
</style>
<div id="DataGrid">
    @if (Model.LCHotels.Count() > 0)
    {
        <div class="table-responsive">
            @foreach (var item in Model.LCHotels)
            {
                <div class="card mb-2">
                    <div class="card-header bg-head">
                        <div>
                            <span class="display-5 text-white">@item.HotelName</span> &nbsp;&nbsp;<b class="text-muted">@item.StarRatingName</b>
                        </div>
                        <b class="text-white">@item.HomeTypeName</b>
                    </div>
                    <div class="card-body">
                        <div style="font-size:13px;">
                            <span class="ml-5 pull-right">
                                <small>Offer Price</small><br />

                                @{ decimal offerprice = (item.OverallOfferPercentage * item.RoomTypePrice) / 100;}



                              
                                 <i class="fa fa-rupee" style="font-size:35px;"></i> <span class="fare"> @offerprice.ToString("#,#", System.Globalization.CultureInfo.CreateSpecificCulture("hi-IN"))</span> <span class="badge badge-primary">@item.RoomType</span>Per head

                            </span>
                            <span class=" pull-right">
                                <small>Actual Price</small><br />
                                <i class="fa fa-rupee" style="font-size:35px;"></i> <span class="fare"> @item.RoomTypePrice.ToString("#,#", System.Globalization.CultureInfo.CreateSpecificCulture("hi-IN"))</span>  <span class="badge badge-success">@item.RoomType</span>Per head
                            </span>

                            State : <b>@item.StateName</b><br />
                            City : <b>@item.CityName</b><br />
                            Locality : <b>@item.LocalityName</b><br />

                            @*Total Single Room : <b>@item.TotalSingleRooms</b>/
                            Totel Double Room : <b>@item.TotalDoubleRooms</b>*@
                        </div>
                    </div>
                    <div class="card-footer" style="font-size:13px;">
                        <a href="/admin/lchotelimg/index/@item.HotelID"><i class="fa fa-eye text-success"></i> Images</a>
                        <div class="pull-right">
                            <form action="/admin/lchotels/delete" method="post" data-otf-ajax="true" data-otf-target="#DataGrid">
                                @Html.AntiForgeryToken()
                                @Html.Hidden("id", item.HotelID)
                                <a href="/admin/lchotels/edit/@item.HotelID" title="Edit"><i class="fa fa-pencil text-info"></i> Edit</a>
                                @*|
                                <a href="/admin/lchotels/delete/@item.HotelID" class="delete" title="Delete" data-record="@item.HotelName">
                                    <i class="fa fa-trash text-danger"></i> Delete
                                </a>*@
                            </form>
                        </div>
                    </div>
                </div>
            }
            <div class="ns-grid-pager row m-0" data-otf-target="#DataGrid">
                <div class="hidden-xs col-md-3 col-sm-3">
                    @Model.PagingInfo.TotalItems Record(s)
                </div>
                <div class="visible-lg visible-md visible-sm col-md-9 col-sm-9 ns-pagination" data-otf-target="#DataGrid" data-otf-actionlink="/admin/LCHotels/index">
                    @Html.PageLinks(Model.PagingInfo, x => Url.Action("index", "LCHotels", new { @Area = "admin", PageNo = x, PageSize = Model.PagingInfo.ItemsPerPage }))
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="text-center p-2">
            <img src="~/Content/img/no_record.png" alt="no record" /><br />
            <span class="text-muted">No records available or your searched record in not available..</span>
        </div>
    }
</div>

@*<div id="DataGrid">
    @if (Model.LCHotels.Count() > 0)
    {
        <div class="table-responsive">
            <div class="table-responsive">
                <table class="table table-striped table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center" style="vertical-align:middle">
                                Hotel
                            </th>
                            <th class="text-center" style="vertical-align:middle">
                                Hotel Type
                            </th>
                            <th class="text-center" style="vertical-align:middle">
                                Contact
                            </th>
                            <th class="text-center" style="vertical-align:middle">
                                Email
                            </th>
                            <th class="text-center" style="vertical-align:middle">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.LCHotels)
                        {
                            <tr>
                                <td class="text-center">
                                    @item.HotelName
                                </td>
                                <td class="text-center">
                                    @item.HomeTypeName
                                </td>
                                <td class="text-center">
                                    @item.HotelContactNo
                                </td>
                                <td class="text-center">
                                    @(item.HotelEmail == "" ? "NA" : item.HotelEmail)
                                </td>
                                <td class="action-td">
                                    <div class="flexbox">
                                        <div class="plr-5">
                                            <a href="/admin/lchotels/edit/@item.HotelID" title="Edit">
                                                <i class="fa fa-edit text-dark"></i>
                                            </a>
                                        </div>
                                        <div class="plr-5">
                                            <form method="post" action="/admin/lchotels/delete" data-otf-ajax="true" data-otf-target="#DataGrid">
                                                @Html.Hidden("id", item.HotelID)
                                                @Html.AntiForgeryToken()
                                                <a href="/admin/lchotels/delete/@item.HotelID" class="delete" title="Delete" data-record="@item.HotelName">
                                                    <i class="fa fa-trash text-dark"></i>
                                                </a>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="ns-grid-pager row m-0" data-otf-target="#DataGrid">
                <div class="hidden-xs col-md-3 col-sm-3">
                    @Model.PagingInfo.TotalItems Record(s)
                </div>
                <div class="visible-lg visible-md visible-sm col-md-9 col-sm-9 ns-pagination" data-otf-target="#DataGrid" data-otf-actionlink="/admin/lchotels">
                    @Html.PageLinks(Model.PagingInfo, x => Url.Action("index", "lchotels", new { @Area = "admin", PageNo = x, PageSize = Model.PagingInfo.ItemsPerPage }))
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="text-center p-2">
            <img src="~/Content/img/no_record.png" /><br />
            <span class="text-muted">No records available or your searched record in not available..</span>
        </div>
    }
</div>*@
@*error message*@
<div id="ErrMsg" style="display:none;">
    <input type="hidden" id="ErrMsgHiddenField" name="ErrMsg" value="@TempData["ErrMsg"]" />
</div>
