<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="OffRoadsTravel | Travel Agency & Tourism">
    <meta name="keyword" content="travel, tourism, agency, tourist">
    <meta name="author" content="Themescare">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")*@

    <!-- Template CSS Files -->

    <link href="~/Content/WebCss/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/WebCss/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/WebCss/css/line-awesome.css" rel="stylesheet" />
    <link href="~/Content/WebCss/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/WebCss/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Content/WebCss/css/jquery.fancybox.min.css" rel="stylesheet" />
    <link href="~/Content/WebCss/css/daterangepicker.css" rel="stylesheet" />
    <link href="~/Content/WebCss/css/animate.min.css" rel="stylesheet" />
    <link href="~/Content/WebCss/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/WebCss/css/animated-headline.css" rel="stylesheet" />
    <link href="~/Content/WebCss/css/flag-icon.min.css" rel="stylesheet" />
    <link href="~/Content/WebCss/css/style.css" rel="stylesheet" />
    @*<link href="~/Content/font-awesome.min.css" rel="stylesheet" />*@
    <style type="text/css">
        .ellipsis {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!-- ================================
                START HEADER AREA
    ================================= -->
    <header class="header-area">
        <div class="header-top-bar padding-right-100px padding-left-100px">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="header-top-content">
                            <div class="header-left">
                                <ul class="list-items">
                                    <li><a href="#"><i class="la la-phone mr-1"></i>(123) 123-456</a></li>
                                    <li><a href="#"><i class="la la-envelope mr-1"></i>trizen@example.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="header-top-content">
                            <div class="header-right d-flex align-items-center justify-content-end">

                                <div class="header-right-action">
                                    <a href="#" class="theme-btn theme-btn-small theme-btn-transparent mr-1" data-toggle="modal" data-target="#signupPopupForm">Sign Up</a>
                                    <a href="/account/login" class="theme-btn theme-btn-small">Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-menu-wrapper padding-right-100px padding-left-100px">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="menu-wrapper justify-content-between">
                            <a href="#" class="down-button"><i class="la la-angle-down"></i></a>
                            <div class="logo">
                                <a href="/home/index"><img src="~/Content/img/logo1.jpg" alt="logo"></a>
                                <div class="menu-toggler">
                                    <i class="la la-bars"></i>
                                    <i class="la la-times"></i>
                                </div><!-- end menu-toggler -->
                            </div><!-- end logo -->
                            <div class="main-menu-content pr-0 ml-0">
                                <nav>
                                    <ul>
                                        <li>
                                            <a href="/Home/Index">Home</a>
                                        </li>
                                        <li>
                                            <a href="#">Popular Cities <i class="la la-angle-down"></i></a>
                                            <ul class="dropdown-menu-item">
                                                <li><a href="tour-fullwidth.html">Tour Full width</a></li>
                                                <li><a href="tour-grid.html">Tour Grid</a></li>
                                                <li><a href="tour-list.html">Tour List</a></li>
                                                <li><a href="tour-left-sidebar.html">Tour Left Sidebar</a></li>
                                                <li><a href="tour-right-sidebar.html">Tour Right Sidebar</a></li>
                                                <li><a href="tour-details.html">Tour details</a></li>
                                                <li><a href="tour-booking.html">Tour Booking</a></li>
                                                <li><a href="tour-search-result.html">Tour Search Result</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Popular Hotels <i class="la la-angle-down"></i></a>
                                            <ul class="dropdown-menu-item">
                                                <li><a href="cruises.html">Cruises</a></li>
                                                <li><a href="cruises-list.html">Cruise list</a></li>
                                                <li><a href="cruise-sidebar.html">Cruise Sidebar</a></li>
                                                <li><a href="cruise-details.html">Cruise details</a></li>
                                                <li><a href="cruise-booking.html">Cruise Booking</a></li>
                                                <li><a href="cruise-search-result.html">Cruise Search Result</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Pages <i class="la la-angle-down"></i></a>
                                            <div class="dropdown-menu-item mega-menu">
                                                <ul class="row no-gutters">
                                                    <li class="col-lg-3 mega-menu-item">
                                                        <ul>
                                                            <li><a href="add-hotel.html">add hotel </a></li>
                                                            <li><a href="add-flight.html">add flight </a></li>
                                                            <li><a href="add-tour.html">add tour </a></li>
                                                            <li><a href="add-cruise.html">add cruise </a></li>
                                                            <li><a href="add-car.html">add car</a></li>
                                                            <li><a href="user-dashboard.html">User Dashboard</a></li>
                                                            <li><a href="admin-dashboard.html">Admin Dashboard</a></li>
                                                            <li><a href="career.html">career <span class="badge bg-2 text-white">New</span></a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="col-lg-3 mega-menu-item">
                                                        <ul>
                                                            <li><a href="career-details.html">career details<span class="badge bg-2 text-white">New</span></a></li>
                                                            <li><a href="user-profile.html">User profile</a></li>
                                                            <li><a href="become-local-expert.html">Become Local Expert</a></li>
                                                            <li><a href="contact.html">contact</a></li>
                                                            <li><a href="cart.html">Cart</a></li>
                                                            <li><a href="checkout.html">Checkout</a></li>
                                                            <li><a href="recover.html">recover password</a></li>
                                                            <li><a href="payment-received.html">payment received</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="col-lg-3 mega-menu-item">
                                                        <ul>
                                                            <li><a href="payment-complete.html">payment complete</a></li>
                                                            <li><a href="destinations.html">Destinations</a></li>
                                                            <li><a href="about.html">about</a></li>
                                                            <li><a href="services.html">Our Services</a></li>
                                                            <li><a href="gallery.html">Gallery</a></li>
                                                            <li><a href="pricing.html">pricing</a></li>
                                                            <li><a href="faq.html">faq</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="col-lg-3 mega-menu-item">
                                                        <ul>
                                                            <li><a href="add-new-post.html">add new post</a></li>
                                                            <li><a href="blog-full-width.html">blog full width</a></li>
                                                            <li><a href="blog-grid.html">blog grid</a></li>
                                                            <li><a href="blog-sidebar.html">blog sidebar</a></li>
                                                            <li><a href="blog-single.html">blog details</a></li>
                                                            <li><a href="coming-soon.html">Coming Soon</a></li>
                                                            <li><a href="page-404.html">404 page</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="#">Offers <i class="la la-angle-down"></i></a>
                                            <ul class="dropdown-menu-item">
                                                <li><a href="flight-grid.html">Flight grid</a></li>
                                                <li><a href="flight-list.html">Flight list</a></li>
                                                <li><a href="flight-sidebar.html">Flight sidebar </a></li>
                                                <li><a href="flight-single.html">Flight details</a></li>
                                                <li><a href="flight-booking.html">Flight Booking</a></li>
                                                <li><a href="flight-search-result.html">Flight Search Result</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Contact Us <i class="la la-angle-down"></i></a>
                                            <ul class="dropdown-menu-item">
                                                <li><a href="hotel-grid.html">Hotel grid</a></li>
                                                <li><a href="hotel-list.html">Hotel list</a></li>
                                                <li><a href="hotel-sidebar.html">Hotel sidebar </a></li>
                                                <li><a href="hotel-single.html">Hotel details</a></li>
                                                <li><a href="hotel-booking.html">Hotel Booking</a></li>
                                                <li><a href="hotel-search-result.html">Hotel Search Result</a></li>
                                                <li>
                                                    <a href="#">Rooms <i class="la la-plus"></i></a>
                                                    <ul class="sub-menu">
                                                        <li><a href="room-list.html">Room List</a></li>
                                                        <li><a href="room-grid.html">Room Grid</a></li>
                                                        <li><a href="room-search-result.html">Search Result</a></li>
                                                        <li><a href="room-search-result-list.html">Search Result list</a></li>
                                                        <li><a href="room-details.html">Room Details</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">FAQ<i class="la la-angle-down"></i></a>
                                            <ul class="dropdown-menu-item">
                                                <li><a href="car-grid.html">car grid</a></li>
                                                <li><a href="car-list.html">car list</a></li>
                                                <li><a href="car-sidebar.html">car sidebar </a></li>
                                                <li><a href="car-single.html">car details</a></li>
                                                <li><a href="car-booking.html">Car Booking</a></li>
                                                <li><a href="car-search-result.html">Car Search Result</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div><!-- end main-menu-content -->
                            @*<div class="nav-btn">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a href="#" class="theme-btn theme-btn-small theme-btn-transparent mr-1">Welcome @User</a>
                                }
                                else
                                {
                                    <a href="/account/register" class="theme-btn theme-btn-small theme-btn-transparent mr-1">Sign Up</a>
                                    <a href="/account/login" class="theme-btn theme-btn-small">Login</a>
                                }
                            </div>*@
                            <!-- end nav-btn -->
                        </div><!-- end menu-wrapper -->
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->
            </div><!-- end container-fluid -->
        </div><!-- end header-menu-wrapper -->
    </header>
    <!-- ================================
             END HEADER AREA
    ================================= -->
    <!-- ================================
        START BREADCRUMB AREA
    ================================= -->
    <section class="breadcrumb-area bread-bg">
        <div class="breadcrumb-wrap">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="breadcrumb-content">
                            <div class="section-heading">
                                <h2 class="sec__title text-white">Local Connection</h2>
                            </div>
                        </div><!-- end breadcrumb-content -->
                    </div><!-- end col-lg-6 -->
                    @*<div class="col-lg-6">
                        <div class="breadcrumb-list text-right">
                            <ul class="list-items">
                                <li><a href="index.html">Home</a></li>
                                <li>Tour</li>
                                <li>Tour Grid</li>
                            </ul>
                        </div>
                    </div>*@
                <!-- end col-lg-6 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end breadcrumb-wrap -->
        <div class="bread-svg-box">
            <svg class="bread-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none"><polygon points="100 0 50 10 0 0 0 10 100 10"></polygon></svg>
        </div><!-- end bread-svg -->
    </section><!-- end breadcrumb-area -->
    <!-- ================================
        END BREADCRUMB AREA
    ================================= -->

    <div>
        @RenderBody()
    </div>

    <!-- Template JS Files -->

    <script src="~/Content/WebCss/js/jquery-3.4.1.min.js"></script>
    <script src="~/Content/WebCss/js/jquery-ui.js"></script>
    <script src="~/Content/WebCss/js/popper.min.js"></script>
    <script src="~/Content/WebCss/js/bootstrap.min.js"></script>
    <script src="~/Content/WebCss/js/bootstrap-select.min.js"></script>
    <script src="~/Content/WebCss/js/moment.min.js"></script>
    <script src="~/Content/WebCss/js/daterangepicker.js"></script>
    <script src="~/Content/WebCss/js/owl.carousel.min.js"></script>
    <script src="~/Content/WebCss/js/jquery.fancybox.min.js"></script>
    <script src="~/Content/WebCss/js/jquery.countTo.min.js"></script>
    <script src="~/Content/WebCss/js/animated-headline.js"></script>
    <script src="~/Content/WebCss/js/jquery.ripples-min.js"></script>
    <script src="~/Content/WebCss/js/main.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
