
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="OffRoadsTravel | Travel Agency & Tourism">
    <meta name="keyword" content="travel, tourism, agency, tourist">
    <meta name="author" content="Themescare">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")*@

    <!-- Template CSS Files -->
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/Content/WebCss/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/WebCss/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/Content/WebCss/css/line-awesome.css">
    <link rel="stylesheet" href="~/Content/WebCss/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/WebCss/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/WebCss/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/Content/WebCss/css/daterangepicker.css">
    <link rel="stylesheet" href="~/Content/WebCss/css/animated-headline.css">
    <link rel="stylesheet" href="~/Content/WebCss/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/WebCss/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/Content/WebCss/css/style.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    @*<link href="~/Content/font-awesome.min.css" rel="stylesheet" />*@
   

</head>
<body>
    <!-- start cssload-loader -->
    <div class="preloader" id="preloader">
        <div class="loader">
            <svg class="spinner" viewBox="0 0 50 50">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
            </svg>
        </div>
    </div>
    <!-- ================================
                START HEADER AREA
    ================================= -->
    <header class="header-area">
        @*<div class="header-top-bar padding-right-100px padding-left-100px">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="header-top-content">
                                <div class="header-left">
                                    <ul class="list-items">
                                        <li><a href="#"><i class="la la-phone mr-1"></i>(123) 123-456</a></li>
                                        <li><a href="#"><i class="la la-envelope mr-1"></i>trizen@example.com</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="header-top-content">
                                <div class="header-right d-flex align-items-center justify-content-end">
                                    <div class="header-right-action">
                                        <div class="select-contain select--contain w-auto">
                                            <select class="select-contain-select">
                                                <option data-content='<span class="flag-icon flag-icon-id mr-1"></span> Bahasa Indonesia'>Bahasa Indonesia</option>
                                                <option data-content='<span class="flag-icon flag-icon-de mr-1"></span> Deutsch'>Deutsch</option>
                                                <option data-content='<span class="flag-icon flag-icon-us mr-1"></span> English(US)' selected>English US</option>
                                                <option data-content='<span class="flag-icon flag-icon-gb-eng mr-1"></span> English(UK)'>English UK</option>
                                                <option data-content='<span class="flag-icon flag-icon-ro mr-1"></span> Romanian'>Romanian</option>
                                                <option data-content='<span class="flag-icon flag-icon-es mr-1"></span> Español'>Español</option>
                                                <option data-content='<span class="flag-icon flag-icon-fr mr-1"></span> Francais'>Francais</option>
                                                <option data-content='<span class="flag-icon flag-icon-it mr-1"></span> Italiano'>Italiano</option>
                                                <option data-content='<span class="flag-icon flag-icon-pl mr-1"></span> Polski'>Polski</option>
                                                <option data-content='<span class="flag-icon flag-icon-pt mr-1"></span> Portuguese'>Portuguese</option>
                                                <option data-content='<span class="flag-icon flag-icon-tr mr-1"></span> Turkish'>Turkish</option>
                                                <option data-content='<span class="flag-icon flag-icon-ru mr-1"></span> Russian'>Russian</option>
                                                <option data-content='<span class="flag-icon flag-icon-jp mr-1"></span> Japanese'>Japanese</option>
                                                <option data-content='<span class="flag-icon flag-icon-cn mr-1"></span> Mandarin'>Mandarin</option>
                                                <option data-content='<span class="flag-icon flag-icon-tw mr-1"></span> Mandarin Chinese'>Mandarin Chinese</option>
                                                <option data-content='<span class="flag-icon flag-icon-kr mr-1"></span> Korean'>Korean</option>
                                                <option data-content='<span class="flag-icon flag-icon-in mr-1"></span> Hindi'>Hindi</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="header-right-action">
                                        <div class="select-contain select--contain w-auto">
                                            <select class="select-contain-select">
                                                <option value="1">AED</option>
                                                <option value="2">AUD</option>
                                                <option value="3">BRL</option>
                                                <option value="4">CAD</option>
                                                <option value="5">CHF</option>
                                                <option value="6">CNY</option>
                                                <option value="7">EUR</option>
                                                <option value="8">GBP</option>
                                                <option value="9">HKD</option>
                                                <option value="10">IDR</option>
                                                <option value="11">INR</option>
                                                <option value="12">JPY</option>
                                                <option value="13">KRW</option>
                                                <option value="14">MYR</option>
                                                <option value="15">NZD</option>
                                                <option value="16">PHP</option>
                                                <option value="17">PLN</option>
                                                <option value="18">RUB</option>
                                                <option value="19">SAR</option>
                                                <option value="20">SGD</option>
                                                <option value="21">THB</option>
                                                <option value="22">TRY</option>
                                                <option value="23">TWD</option>
                                                <option value="24" selected>USD</option>
                                                <option value="25">VND</option>
                                                <option value="26">MXN</option>
                                                <option value="27">ARS</option>
                                                <option value="28">INR</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="header-right-action">
                                        <a href="#" class="theme-btn theme-btn-small theme-btn-transparent mr-1" data-toggle="modal" data-target="#signupPopupForm">Sign Up</a>
                                        <a href="#" class="theme-btn theme-btn-small" data-toggle="modal" data-target="#loginPopupForm">Login</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        <div class="header-menu-wrapper padding-right-100px padding-left-100px">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="menu-wrapper justify-content-between">
                            <a href="#" class="down-button"><i class="la la-angle-down"></i></a>
                            <div class="logo">
                                <a href="/home/index"><img src="/Content/img/logo1.jpg" alt="logo"></a>
                                <div class="menu-toggler">
                                    <i class="la la-bars"></i>
                                    <i class="la la-times"></i>
                                </div><!-- end menu-toggler -->
                            </div><!-- end logo -->
                            <div class="main-menu-content pr-0 ml-0">
                                <nav>
                                    <ul>
                                        <li>
                                            <a href="/Home/Index">Home</a>
                                        </li>

                                        <li>
                                            <a href="#">Popular Cities <i class="la la-angle-down"></i></a>
                                            @{ Html.RenderAction("RenderCitiesMenuView", "home", new { area = "" });}
                                        </li>

                                        <li>
                                            <a href="#">Help</a>
                                        </li>
                                        <li>
                                            <a href="#">Contact</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div><!-- end main-menu-content -->
                            <div class="nav-btn">
                                @if ((string)@ViewBag.CurrentUserName != null && User.IsInRole("Admin"))
                                {
                                    <div class="row">
                                        <div id="inst-section" class="col-md-12">
                                            <div class="dropdown float-right p-2">
                                                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Welcome @ViewBag.CurrentUserName
                                                </button>
                                                <div class="dropdown-menu w-50" aria-labelledby="dropdownMenuButton">
                                                    <a href="/user/dashboard" class="dropdown-item"><i class="la la-dashboard"></i> &nbsp;&nbsp;Dashboard</a>
                                                    <form method="post" action="@Url.Action("logoff", "account", new { @Area = "" })" id="logOut">
                                                        @Html.AntiForgeryToken()
                                                        <a href="javascript:document.getElementById('logOut').submit()" class="dropdown-item"><i class="la la-lock-open"></i> &nbsp;&nbsp;Log Out</a>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }
                                else if ((string)@ViewBag.CurrentUserName != null && User.IsInRole("Customer"))
                                {
                                    <div class="row">
                                        <div id="inst-section" class="col-md-12">
                                            <div class="dropdown float-right p-2">
                                                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Welcome @ViewBag.CurrentUserName
                                                </button>
                                                <div class="dropdown-menu w-50" aria-labelledby="dropdownMenuButton">
                                                    <a href="/Home/OrderList" class="dropdown-item"><i class="la la-list"></i> &nbsp;&nbsp;Order List</a>
                                                    <form method="post" action="@Url.Action("logoff", "account", new { @Area = "" })" id="logOut">
                                                        @Html.AntiForgeryToken()
                                                        <a href="javascript:document.getElementById('logOut').submit()" class="dropdown-item"><i class="la la-lock-open"></i> &nbsp;&nbsp;Log Out</a>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    @*<a href="/account/register" class="theme-btn theme-btn-small theme-btn-transparent mr-1">Sign Up</a>*@
                                    <a href="/account/login" class="theme-btn theme-btn-small">Login</a>
                                }


                            </div><!-- end nav-btn -->
                        </div><!-- end menu-wrapper -->
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->
            </div><!-- end container-fluid -->
        </div><!-- end header-menu-wrapper -->
    </header>
    <!-- ================================
             END HEADER AREA
    ================================= -->
    <!-- end cssload-loader -->
    <!-- Header Top Area End -->
    <!-- Header Area End -->
    @RenderBody()

    <!-- ================================
           START FOOTER AREA
    ================================= -->
    <section class="footer-area section-bg padding-top-40px padding-bottom-30px">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <div class="term-box footer-item">
                        <ul class="list-items list--items d-flex align-items-center">
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Help Center</a></li>
                        </ul>
                    </div>
                </div><!-- end col-lg-8 -->
                <div class="col-lg-4">
                    <div class="footer-social-box text-right">
                        <ul class="social-profile">
                            <li><a href="#"><i class="lab la-facebook-f"></i></a></li>
                            <li><a href="#"><i class="lab la-twitter"></i></a></li>
                            <li><a href="#"><i class="lab la-instagram"></i></a></li>
                            <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div><!-- end col-lg-4 -->
            </div><!-- end row -->
        </div>
        <div class="section-block mt-4 mb-5"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 responsive-column">
                    <div class="footer-item">
                        <div class="footer-logo padding-bottom-30px">
                            <a href="index.html" class="foot__logo"><img src="~/Content/img/logos.png" alt="logo"></a>
                        </div><!-- end logo -->
                        <p class="footer__desc">Morbi convallis bibendum urna ut viverra. Maecenas consequat</p>
                        <ul class="list-items pt-3">
                            <li>3015 Grand Ave, Coconut Grove,<br> Cerrick Way, FL 12345</li>
                            <li>+123-456-789</li>
                            <li><a href="#">trizen@yourwebsite.com</a></li>
                        </ul>
                    </div><!-- end footer-item -->
                </div><!-- end col-lg-3 -->
                <div class="col-lg-3 responsive-column">
                    <div class="footer-item">
                        <h4 class="title curve-shape pb-3 margin-bottom-20px" data-text="curvs">Company</h4>
                        <ul class="list-items list--items">
                            <li><a href="about.html">About us</a></li>
                            <li><a href="services.html">Terms and conditions</a></li>
                            <li><a href="#">Guest Policies</a></li>
                            <li><a href="blog-grid.html">Privacy Policy</a></li>
                            <li><a href="contact.html">Support</a></li>
                        </ul>
                    </div><!-- end footer-item -->
                </div><!-- end col-lg-3 -->
                @*<div class="col-lg-3 responsive-column">
                        <div class="footer-item">
                            <h4 class="title curve-shape pb-3 margin-bottom-20px" data-text="curvs">Other Links</h4>
                            <ul class="list-items list--items">
                                <li><a href="#">USA Vacation Packages</a></li>
                                <li><a href="#">USA Flights</a></li>
                                <li><a href="#">USA Hotels</a></li>
                                <li><a href="#">USA Car Hire</a></li>
                                <li><a href="#">Create an Account</a></li>
                            </ul>
                        </div><!-- end footer-item -->
                    </div><!-- end col-lg-3 -->*@
                <div class="col-lg-3 responsive-column">
                    <div class="footer-item">
                        <h4 class="title curve-shape pb-3 margin-bottom-20px" data-text="curvs">Payment Methods</h4>
                        <p class="footer__desc pb-3">Pay any way you choose, we support all payment options.</p>
                        <img src="images/payment-img.png" alt="">
                    </div><!-- end footer-item -->
                </div><!-- end col-lg-3 -->
            </div><!-- end row -->
            <div class="section-block"></div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="copy-right padding-top-30px text-center">
                        <p class="copy__desc">
                            &copy; Copyright LocalConnection 2021.
                            @*Developed<span class="la la-heart"></span> by <a href="#">Cunick Technologies</a>*@
                        </p>
                    </div><!-- end copy-right -->
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end footer-area -->
    <!-- ================================
           START FOOTER AREA
    ================================= -->
    @*error message*@
    <div class="row">
        <div id="toastr-type" data-msg="@TempData["Type"]"></div>
        <div id="toastr-message" data-msg="@TempData["Message"]"></div>
    </div>
    <div id="ajax-backdrop" class="fade in" style="background-color: rgb(0, 0, 0); bottom: 0px; left: 0px; position: fixed; right: 0px; top: 0px; z-index: 10000; opacity: 0.4; display: none;"></div>
    <div class="modal modal-styled" id="myErroMsgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-white bg-google">
                    <h4 class="modal-title" id="myErroModalLabel"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="CloseMyModal()"><span aria-hidden="true">&times;</span></button>

                </div>
                <div class="modal-body">
                    <h4 id="Msg"></h4>
                </div>
                <div class="modal-footer">
                    <div class="col-md-offset-2 col-md-10 text-right" style="padding-right: 0;">
                        <input type="button" id="myErroMsgModalNoButton" class="btn btn-secondary btn-sm" data-dismiss="modal" onclick="CloseMyModal()" value="Cancel" />
                        <input type="button" id="myErroMsgModalYesButton" value="Yes" class="btn btn-info btn-sm hidden" onclick="OkMyModal()" />
                    </div>
                </div>
                <input type="hidden" id="eventSender" name="name" value=" " />
            </div>
        </div>
    </div>


    <!-- Template JS Files -->
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Content/WebCss/js/jquery-3.4.1.min.js"></script>
    <script src="~/Content/WebCss/js/jquery-ui.js"></script>
    <script src="~/Content/WebCss/js/popper.min.js"></script>
    <script src="~/Content/WebCss/js/bootstrap.min.js"></script>
    <script src="~/Content/WebCss/js/bootstrap-select.min.js"></script>
    <script src="~/Content/WebCss/js/moment.min.js"></script>
    <script src="~/Content/WebCss/js/daterangepicker.js"></script>
    <script src="~/Content/WebCss/js/owl.carousel.min.js"></script>
    <script src="~/Content/WebCss/js/jquery.fancybox.min.js"></script>
    <script src="~/Content/WebCss/js/jquery.countTo.min.js"></script>
    <script src="~/Content/WebCss/js/animated-headline.js"></script>
    <script src="~/Content/WebCss/js/jquery.ripples-min.js"></script>
    <script src="~/Content/WebCss/js/quantity-input.js"></script>
    <script src="~/Content/WebCss/js/jquery.superslides.min.js"></script>
    <script src="~/Content/WebCss/js/superslider-script.js"></script>
    <script src="~/Content/WebCss/js/main.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/invoketoastr.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
</body>
</html>
