
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="OffRoadsTravel | Travel Agency & Tourism">
    <meta name="keyword" content="travel, tourism, agency, tourist">
    <meta name="author" content="Themescare">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")*@

    <!-- Template CSS Files -->
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/Content/WebCss/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/WebCss/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/Content/WebCss/css/line-awesome.css">
    <link rel="stylesheet" href="~/Content/WebCss/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/WebCss/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/WebCss/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/Content/WebCss/css/daterangepicker.css">
    <link rel="stylesheet" href="~/Content/WebCss/css/animated-headline.css">
    <link rel="stylesheet" href="~/Content/WebCss/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/WebCss/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/Content/WebCss/css/style.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    @*<link href="~/Content/font-awesome.min.css" rel="stylesheet" />*@


</head>
<body>
    <!-- start cssload-loader -->
    <div class="preloader" id="preloader">
        <div class="loader">
            <svg class="spinner" viewBox="0 0 50 50">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
            </svg>
        </div>
    </div>
    <!-- ================================
                START HEADER AREA
    ================================= -->
    <header class="header-area">
        <div class="header-menu-wrapper padding-right-100px padding-left-100px">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="menu-wrapper justify-content-between">
                            <a href="#" class="down-button"><i class="la la-angle-down"></i></a>
                            <div class="logo">
                                <a href="/home/index"><img src="/Content/img/logo1.jpg" alt="logo"></a>
                                <div class="menu-toggler">
                                    <i class="la la-bars"></i>
                                    <i class="la la-times"></i>
                                </div><!-- end menu-toggler -->
                            </div><!-- end logo -->
                            <div class="main-menu-content pr-0 ml-0">
                                <nav>
                                    <ul>
                                        <li>
                                            <a href="/Home/Index">Home</a>
                                        </li>

                                        <li>
                                            <a href="#">Popular Cities <i class="la la-angle-down"></i></a>
                                            @{ Html.RenderAction("RenderCitiesMenuView", "home", new { area = "" });}
                                        </li>

                                        <li>
                                            <a href="/home/about">About Us</a>
                                        </li>
                                        <li>
                                            <a href="/home/contact">Contact</a>
                                        </li>
                                        <li>
                                            @if ((string)@ViewBag.CurrentUserName != null && User.IsInRole("Admin"))
                                            {

                                                <a href="#" class="text-primary">Welcome @ViewBag.CurrentUserName <i class="la la-angle-down"></i></a>
                                                <ul class="dropdown-menu-item">
                                                    <li>  <a href="/user/dashboard" class="dropdown-item  text-primary">Dashboard<i class="la la-dashboard"></i></a></li>
                                                    <li>
                                                        <form method="post" action="@Url.Action("logoff", "account", new { @Area = "" })" id="logOut">
                                                            @Html.AntiForgeryToken()
                                                            <a href="javascript:document.getElementById('logOut').submit()" class="dropdown-item text-primary">Log Out<i class="la la-lock-open float-left"></i></a>
                                                        </form>
                                                    </li>
                                                </ul>

                                            }
                                            else if ((string)@ViewBag.CurrentUserName != null && User.IsInRole("Customer"))
                                            {

                                                <a href="#" class="text-primary">Welcome @ViewBag.CurrentUserName <i class="la la-angle-down"></i></a>
                                                <ul class="dropdown-menu-item">
                                                    <li> <a href="/Home/OrderList" class="dropdown-item text-primary">Order List<i class="la la-list float-left"></i></a></li>
                                                    <li>
                                                        <form method="post" action="@Url.Action("logoff", "account", new { @Area = "" })" id="logOut">
                                                            @Html.AntiForgeryToken()
                                                            <a href="javascript:document.getElementById('logOut').submit()" class="dropdown-item text-primary">Log Out<i class="la la-lock-open float-left"></i></a>
                                                        </form>
                                                    </li>
                                                </ul>

                                            }
                                            else if (User.Identity.IsAuthenticated)
                                            {
                                                using (Html.BeginForm("LogOff", "account", new { @Area = "" }, FormMethod.Post))
                                                {
                                                    @Html.AntiForgeryToken()
                                                }
                                                <a href="/account/login" class="text-primary">Login|Register</a>
                                            }
                                            else
                                            {
                                                <a href="/account/login" class="text-primary">Login|Register</a>
                                            }
                                        </li>
                                    </ul>
                                </nav>
                            </div><!-- end main-menu-content -->
                            <!-- end nav-btn -->
                        </div><!-- end menu-wrapper -->
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->
            </div><!-- end container-fluid -->
        </div><!-- end header-menu-wrapper -->
    </header>
    <!-- ================================
             END HEADER AREA
    ================================= -->
    <!-- end cssload-loader -->
    <!-- Header Top Area End -->
    <!-- Header Area End -->
    @RenderBody()

    <!-- ================================
           START FOOTER AREA
    ================================= -->
    <section class="footer-area section-bg padding-top-40px padding-bottom-30px">
        @*<div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <div class="term-box footer-item">
                            <ul class="list-items list--items d-flex align-items-center">
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Help Center</a></li>
                            </ul>
                        </div>
                    </div><!-- end col-lg-8 -->
                    <div class="col-lg-4">
                        <div class="footer-social-box text-right">
                            <ul class="social-profile">
                                <li><a href="#"><i class="lab la-facebook-f"></i></a></li>
                                <li><a href="#"><i class="lab la-twitter"></i></a></li>
                                <li><a href="#"><i class="lab la-instagram"></i></a></li>
                                <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div><!-- end col-lg-4 -->
                </div><!-- end row -->
            </div>*@
        <div class="section-block mt-4 mb-5"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 responsive-column">
                    <div class="footer-item">
                        <div class="footer-logo padding-bottom-30px">
                            <a href="index.html" class="foot__logo"><img src="~/Content/img/logos.png" alt="logo"></a>
                        </div><!-- end logo -->
                        <p class="footer__desc">Inderkil School Building, Lal Bazar Ranipool</p>
                        <ul class="list-items pt-3">
                            <li>Ranipool, EAST Sikkim</li>
                            <li>737135</li>
                            <li>+91-73190-79996/97759-93332</li>
                            <li><a href="#">localconnectiontmc@gmail.com</a></li>
                        </ul>
                    </div><!-- end footer-item -->
                </div><!-- end col-lg-3 -->
                <div class="col-lg-3 responsive-column">
                    <div class="footer-item">
                        <h4 class="title curve-shape pb-3 margin-bottom-20px" data-text="curvs">Company</h4>
                        <ul class="list-items list--items">
                            <li><a href="/home/about">About us</a></li>
                            @*<li><a href="services.html">Terms and conditions</a></li>
                                <li><a href="#">Guest Policies</a></li>*@
                            <li><a href="/home/contact">Support</a></li>
                        </ul>
                    </div><!-- end footer-item -->
                </div><!-- end col-lg-3 -->
                @*<div class="col-lg-3 responsive-column">
                        <div class="footer-item">
                            <h4 class="title curve-shape pb-3 margin-bottom-20px" data-text="curvs">Other Links</h4>
                            <ul class="list-items list--items">
                                <li><a href="#">USA Vacation Packages</a></li>
                                <li><a href="#">USA Flights</a></li>
                                <li><a href="#">USA Hotels</a></li>
                                <li><a href="#">USA Car Hire</a></li>
                                <li><a href="#">Create an Account</a></li>
                            </ul>
                        </div><!-- end footer-item -->
                    </div><!-- end col-lg-3 -->*@
                <div class="col-lg-3 responsive-column">
                    <div class="footer-item">
                        <h4 class="title curve-shape pb-3 margin-bottom-20px" data-text="curvs">Payment Methods</h4>
                        @*<p class="footer__desc pb-3">Pay any way you choose, we support all payment options.</p>*@
                        <img src="~/Content/WebCss/css/images/payment-img.png" alt="Payment Methods">
                    </div><!-- end footer-item -->
                </div><!-- end col-lg-3 -->
            </div><!-- end row -->
            <div class="section-block"></div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="copy-right padding-top-30px text-center">
                        <p class="copy__desc">
                            &copy; Copyright LocalConnection 2021.
                            @*Developed<span class="la la-heart"></span> by <a href="#">Cunick Technologies</a>*@
                        </p>
                    </div><!-- end copy-right -->
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end footer-area -->
    <!-- ================================
           START FOOTER AREA
    ================================= -->
    @*error message*@
    <div class="row">
        <div id="toastr-type" data-msg="@TempData["Type"]"></div>
        <div id="toastr-message" data-msg="@TempData["Message"]"></div>
    </div>
    <div id="ajax-backdrop" class="fade in" style="background-color: rgb(0, 0, 0); bottom: 0px; left: 0px; position: fixed; right: 0px; top: 0px; z-index: 10000; opacity: 0.4; display: none;"></div>
    <div class="modal modal-styled" id="myErroMsgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-white bg-google">
                    <h4 class="modal-title" id="myErroModalLabel"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="CloseMyModal()"><span aria-hidden="true">&times;</span></button>

                </div>
                <div class="modal-body">
                    <h4 id="Msg"></h4>
                </div>
                <div class="modal-footer">
                    <div class="col-md-offset-2 col-md-10 text-right" style="padding-right: 0;">
                        <input type="button" id="myErroMsgModalNoButton" class="btn btn-secondary btn-sm" data-dismiss="modal" onclick="CloseMyModal()" value="Cancel" />
                        <input type="button" id="myErroMsgModalYesButton" value="Yes" class="btn btn-info btn-sm hidden" onclick="OkMyModal()" />
                    </div>
                </div>
                <input type="hidden" id="eventSender" name="name" value=" " />
            </div>
        </div>
    </div>

    <!-- end modal-shared -->
    <div class="modal-popup">
        <div class="modal fade" id="loginPopupForm" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div>
                            @*<h5 class="modal-title title" id="exampleModalLongTitle2">Login</h5>*@
                            <img src="~/Content/img/logos.png" style="width: 50%;height:auto;" />
                            <p class="font-size-14">Hello! Welcome to Local Connection</p>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="la la-close"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="contact-form-action">
                            <form method="post">
                                <div class="input-box">
                                    <img src="~/Content/img/LOGINbg.png" style="width:100%; height:auto;" />
                                </div><!-- end input-box -->
                                <div class="btn-box pt-3 pb-4">
                                    <a class="theme-btn w-100 text-center text-light" href="/account/login">Login/SignUp</a>
                                </div>
                                <div class="action-box text-center">
                                    <a href="#" name="eventId" id="eventId" class="font-size-14">>> I would like to login later</a>
                                </div>
                            </form>
                        </div><!-- end contact-form-action -->
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end modal-popup -->
    <!-- Template JS Files -->
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Content/WebCss/js/jquery-3.4.1.min.js"></script>
    <script src="~/Content/WebCss/js/jquery-ui.js"></script>
    <script src="~/Content/WebCss/js/popper.min.js"></script>
    <script src="~/Content/WebCss/js/bootstrap.min.js"></script>
    <script src="~/Content/WebCss/js/bootstrap-select.min.js"></script>
    <script src="~/Content/WebCss/js/moment.min.js"></script>
    <script src="~/Content/WebCss/js/daterangepicker.js"></script>
    <script src="~/Content/WebCss/js/owl.carousel.min.js"></script>
    <script src="~/Content/WebCss/js/jquery.fancybox.min.js"></script>
    <script src="~/Content/WebCss/js/jquery.countTo.min.js"></script>
    <script src="~/Content/WebCss/js/animated-headline.js"></script>
    <script src="~/Content/WebCss/js/jquery.ripples-min.js"></script>
    <script src="~/Content/WebCss/js/quantity-input.js"></script>
    <script src="~/Content/WebCss/js/jquery.superslides.min.js"></script>
    <script src="~/Content/WebCss/js/superslider-script.js"></script>
    <script src="~/Content/WebCss/js/main.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/invoketoastr.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
</body>
</html>
