@model LocalConnWeb.ViewModels.HotelDetailsVM
@{
    ViewBag.Title = "HotelDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .fixed-side {
        position: fixed;
        top: 220px;
        width: 370px;
        z-index: 1000;
    }

    #map-canvas {
        margin: 0;
        padding: 0;
        height: 100%;
    }
</style>


<!-- ================================
    START ROOM DETAIL BREAD
================================= -->
<section class="room-detail-bread">
    <div class="full-width-slider carousel-action">
        @if (Model.hotelRoomImgTab.roomImgList.Count > 0)
        {
            foreach (var item in Model.hotelRoomImgTab.roomImgList)
            {
                <div class="full-width-slide-item">
                    <img src="@item.PhotoNormalPath" alt="">
                </div><!-- end full-width-slide-item -->
            }
        }
    </div><!-- end full-width-slider -->
</section><!-- end room-detail-bread -->
<!-- ================================
    END ROOM DETAIL BREAD
================================= -->
<!-- ================================
    START BREADCRUMB AREA
================================= -->
@*<section class="breadcrumb-area bread-bg-7 py-0">
    <div class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-btn">
                        <div class="btn-box">
                           
                            <a class="theme-btn" data-src="@Model.hotelDtl.PhotoThumbPath"
                               data-fancybox="gallery"
                               data-caption="Showing image - 01"
                               data-speed="700">
                                <i class="la la-photo mr-2"></i>View Images
                            </a>
                        </div>
                        @if (Model.hotelRoomImgTab != null)
                        {
                            if (Model.hotelRoomImgTab.roomImgList.Count > 0)
                            {
                                foreach (var item in Model.hotelRoomImgTab.roomImgList)
                                {
                                    <a class="d-none"
                                       data-fancybox="gallery"
                                       data-src="@item.PhotoNormalPath"
                                       data-caption="@item.HotelPremName"
                                       data-speed="700"></a>
                                }


                            }
                        }



                    </div><!-- end breadcrumb-btn -->
                </div><!-- end col-lg-12 -->
                <div class="col-lg-12">
                    <div class="breadcrumb-list breadcrumb-top-list pb-2">
                        <ul class="list-items bg-transparent radius-none p-0">
                            <li><a href="/home/index">Home</a></li>
                            <li>@Model.hotelDtl.HotelName</li>
                        </ul>
                    </div><!-- end breadcrumb-list -->
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end breadcrumb-wrap -->
</section><!-- end breadcrumb-area -->*@
<!-- ================================
    END BREADCRUMB AREA
================================= -->
<!-- ================================
    START TOUR DETAIL AREA
================================= -->
<section class="tour-detail-area padding-bottom-90px">
    <div class="single-content-navbar-wrap menu section-bg" id="single-content-navbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-content-nav" id="single-content-nav">
                        <ul>
                            <li><a data-scroll="description" href="#description" class="scroll-link active">Hotel Details</a></li>
                            <li><a data-scroll="availability" href="#availability" class="scroll-link">Rooms</a></li>
                            <li><a data-scroll="amenities" href="#amenities" class="scroll-link">Amenities</a></li>
                            <li><a data-scroll="faq" href="#faq" class="scroll-link">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end single-content-navbar-wrap -->
    <div class="single-content-box">
        <div class="container">
            <div class="row">

                <div class="col-lg-8">
                    <div class="breadcrumb-list breadcrumb-top-list pb-2 pt-2">
                        <ul class="list-items bg-transparent radius-none p-0">
                            <li class="text-black-50"><a href="/home/index" class="text-black-50">Home</a> > </li>
                            <li class="text-black-50">@Model.hotelDtl.HotelName</li>
                        </ul>
                    </div><!-- end breadcrumb-list -->
                    <div class="single-content-wrap padding-top-60px">
                        <div id="description" class="page-scroll">
                            <div class="single-content-item pb-4">
                                <h3 class="title font-size-28">@Model.hotelDtl.HotelName</h3>
                                <div class="d-flex align-items-center pt-2">
                                    <p class="mr-2">@Model.hotelDtl.HotelAddress</p>
                                </div>
                            </div><!-- end single-content-item -->
                            <div class="section-block"></div>
                            <div class="section-block"></div>
                            <div class="single-content-item padding-top-40px padding-bottom-40px">
                                <h3 class="title font-size-20">About @Model.hotelDtl.HotelName</h3>
                                <p class="py-3 text-justify">@Model.hotelDtl.HotelDesc</p>

                            </div>
                            <div class="section-block"></div>

                        </div><!-- end description -->
                        @if (Model.hotelDtl.ChildOccupantNote != "")
                        {
                            <div class="single-content-item padding-bottom-40px">
                                <h3 class="title font-size-16 d-flex align-items-center justify-content-between text-warning">
                                    Child Policy
                                    <a class="btn collapse-btn theme-btn-hover-gray font-size-15" data-toggle="collapse" href="#viewIncludedExample" role="button" aria-expanded="false" aria-controls="viewIncludedExample">
                                        View<i class="la la-angle-down ml-1"></i>
                                    </a>
                                </h3>
                                <div class="collapse" id="viewIncludedExample">
                                    <div class="cruise-included-feature-wrap">
                                        <div class="cruise-include-feature pt-3">
                                            @Model.hotelDtl.ChildOccupantNote
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end single-content-item -->
                        }





                        <div class="section-block"></div>
                        @if (Model.hAmenities != null)
                        {
                            <div id="amenities" class="page-scroll">
                                <div class="single-content-item padding-top-40px">
                                    <h3 class="title font-size-20">Amenities</h3>
                                    <div class="amenities-feature-item pt-4">
                                        @if (Model.hAmenities.Count() > 0)
                                        {
                                            <div class="row">
                                                @foreach (var item in Model.hAmenities)
                                                {
                                                    if (item.AmenitiesBasePrice.ToString("G29") == "0")
                                                    {
                                                        <div class="col-lg-4 responsive-column">
                                                            <div class="single-tour-feature d-flex align-items-center mb-3">
                                                                <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                                    <img src="@item.AmenitiesIconPath" class="w-100" />
                                                                </div>

                                                                <div class="single-feature-titles">
                                                                    <h3 class="title font-size-15 font-weight-medium">@item.AmenitiesName </h3>
                                                                </div>


                                                            </div><!-- end single-tour-feature -->
                                                        </div><!-- end col-lg-4 -->
                                                    }

                                                }
                                            </div><!-- end row -->
                                        }

                                    </div>
                                </div><!-- end single-content-item -->
                                @*<div class="section-block"></div>*@
                            </div>
                        }
                        @if (Model.hAmenities.Count() > 0)
                        {
                            <div id="itinerary" class="page-scroll">
                                <div class="section-block margin-top-40px"></div>
                                <div class="single-content-item padding-top-40px padding-bottom-40px">
                                    <h3 class="title font-size-20">Enjoy meals during your stay</h3>
                                    <div class="table-form table-responsive padding-top-30px">
                                        <table class="table" id="amenities-table">
                                            <tbody class="amenities-select">

                                                @foreach (var item in Model.hAmenities)
                                                {
                                                    if (item.AmenitiesBasePrice.ToString("G29") != "0")
                                                    {
                                                        <tr>
                                                            <td>
                                                                <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                                    <img src="@item.AmenitiesIconPath" class="w-100" />
                                                                </div>
                                                                @*  <img src="@item.AmenitiesIconPath" class="grid-width-10" />*@
                                                            </td>
                                                            <td> <h3 class="title font-size-15 font-weight-medium" id="amSelName">@item.AmenitiesName </h3></td>
                                                            <td> <h3 class="title font-size-15 font-weight-medium" id="amSelPrice"><i class="la la-rupee-sign"></i> @item.AmenitiesBasePrice.ToString("G29")</h3></td>
                                                            <td><input type="button" id="amSelBtn" class="btn btn-success btn-sm" value="Add" /></td>
                                                        </tr>
                                                    }
                                                }


                                            </tbody>
                                        </table>
                                        @* <p class="font-size-14 line-height-26"><strong class="text-black">Please note:</strong> While we do our best to adhere to our published itineraries, they may be changed at the discretion of the captain due to weather advisories, port traffic, and any other unforeseeable circumstances.</p>*@
                                    </div>
                                </div><!-- end single-content-item -->
                                <div class="section-block"></div>
                            </div><!-- end itinerary -->
                        }
                        @if (Model.hotelRoomLists.Count() > 0)
                        {
                            <div class="section-block"></div>
                            <div id="availability" class="page-scroll">
                                <div class="single-content-item padding-top-40px padding-bottom-30px">
                                    <!-- end contact-form-action -->
                                    <h3 class="title font-size-20">Choose your room</h3>
                                    <div id="roomTypeSel">

                                        @{int i = 0;}
                                        @foreach (var item in Model.hotelRoomLists)
                                        {
                                            <div class="cabin-type padding-top-30px">
                                                <div class="cabin-type-item seat-selection-item d-flex">
                                                    <div class="cabin-type-img flex-shrink-0">
                                                        <img src="@item.PhotoThumbPath" alt="">
                                                    </div>
                                                    <div class="cabin-type-detail">
                                                        <h3 class="title">@item.RoomType</h3>
                                                        <h5 class="badge badge-info">@item.PhotoCaption</h5>
                                                        <div class="row padding-top-20px">
                                                            <div class="col-lg-6 responsive-column">
                                                                <div class="single-tour-feature d-flex align-items-center mb-3">
                                                                    <p class="text-lowercase font-size-14">
                                                                        <strong class="mt-n1 text-black font-size-18 font-weight-black d-block"><i class="la la-rupee-sign"></i> @item.RoomTypePrice.ToString("G29")/- <small class="pull-left">Per/night</small></strong>
                                                                    </p>
                                                                </div>
                                                            </div><!-- end col-lg-6 -->

                                                        </div><!-- end row -->

                                                    </div>
                                                    <div class="cabin-price">
                                                        @if (i == 0)
                                                        {
                                                            <div class="custom-checkbox mb-0 roomType" name="@item.RoomType" value="@item.RoomTypePrice">
                                                                <label id="@item.RoomType" class="btn btn-success btn-sm">Selected</label>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="custom-checkbox mb-0 roomType" name="@item.RoomType" value="@item.RoomTypePrice">
                                                                <label id="@item.RoomType" class="btn btn-warning btn-sm">Select</label>
                                                            </div>
                                                        }

                                                    </div>
                                                </div><!-- end cabin-type-item -->
                                            </div>
                                            { i++; }

                                        }


                                    </div>
                                    <!-- end cabin-type -->
                                </div><!-- end single-content-item -->
                                <div class="section-block"></div>
                            </div><!-- end location-map -->
                        }

                        <div id="nearby">
                            <section id="tabs" class="project-tab pt-3">
                                <h3 class="title font-size-20 pb-4">What's nearby</h3>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 p-0">
                                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Places</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Transport</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content" id="pills-tabContent">
                                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                                    @{ var n = 1; }
                                                    @foreach (var item in Model.nearByVM.nearbyone)
                                                    {
                                                        <div class="d-flex bd-highlight pl-4 pr-4">
                                                            <div class="p-2 bd-highlight"><i class="la la-star"></i></div>
                                                            <div class="p-2 flex-grow-1  bd-highlight">@item.NearByPoints</div>
                                                            <div class="p-2 bd-highlight">@item.NearByDistance</div>
                                                        </div>
                                                        n++;
                                                    }
                                                </div>
                                                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                                    @{ var m = 1; }
                                                    @foreach (var item in Model.nearByVM.nearbytwo)
                                                    {

                                                        <div class="d-flex bd-highlight pl-4 pr-4">
                                                            <div class="p-2 bd-highlight"><i class="la la-star"></i></div>
                                                            <div class="p-2 flex-grow-1  bd-highlight">@item.NearByPoints</div>
                                                            <div class="p-2 bd-highlight">@item.NearByDistance</div>
                                                        </div>
                                                        m++;
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>



                        <!-- start Terms and condition -->
                        <div id="faq" class="page-scroll">
                            <div class="single-content-item padding-top-40px padding-bottom-40px">
                                <h3 class="title font-size-20">Terms & Condition</h3>
                                <div class="accordion accordion-item padding-top-30px" id="accordionExample2">
                                    <div class="card">
                                        <div class="card-header" id="faqHeadingFour">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link d-flex align-items-center justify-content-end flex-row-reverse font-size-16" type="button" data-toggle="collapse" data-target="#faqCollapseFour" aria-expanded="true" aria-controls="faqCollapseFour">
                                                    <span class="ml-3">Terms & Condition</span>
                                                    <i class="la la-minus"></i>
                                                    <i class="la la-plus"></i>
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="faqCollapseFour" class="collapse show" aria-labelledby="faqHeadingFour" data-parent="#accordionExample2">
                                            <div class="card-body d-flex">
                                                @if (Model.termCondVM.termPolicyList != null)
                                                {
                                                    if (Model.termCondVM.termPolicyList.Count > 0)
                                                    {
                                                        <ul>
                                                            @foreach (var item in Model.termCondVM.termPolicyList)
                                                            {
                                                                <li><i class="la la-star"></i> @item.TermName</li>
                                                            }
                                                        </ul>
                                                    }
                                                }
                                            </div>
                                        </div>

                                    </div><!-- end card -->
                                    <div class="card">
                                        <div class="card-header" id="faqHeadingFour">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link d-flex align-items-center justify-content-end flex-row-reverse font-size-16" type="button" data-toggle="collapse" data-target="#faqCollapseFour" aria-expanded="true" aria-controls="faqCollapseFour">
                                                    <span class="ml-3">Cancellation Policy</span>
                                                    <i class="la la-minus"></i>
                                                    <i class="la la-plus"></i>
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="faqCollapseFour" class="collapse show" aria-labelledby="faqHeadingFour" data-parent="#accordionExample2">
                                            <div class="card-body d-flex">
                                                @if (Model.termCondVM.cancelPolicyList != null)
                                                {
                                                    if (Model.termCondVM.cancelPolicyList.Count > 0)
                                                    {
                                                        <ul>
                                                            @foreach (var item in Model.termCondVM.cancelPolicyList)
                                                            {
                                                                <li><i class="la la-star"></i> @item.CancellationDesc</li>
                                                            }
                                                        </ul>
                                                    }
                                                }
                                            </div>
                                        </div>

                                    </div><!-- end card -->


                                </div>
                            </div><!-- end single-content-item -->
                            <div class="section-block"></div>
                        </div><!-- end faq -->
                        @*<div class="section-block"></div>
            <div id="location-map" class="page-scroll">
                <div class="single-content-item padding-top-40px padding-bottom-40px">
                    <h3 class="title font-size-20">Location</h3>
                    <div class="gmaps padding-top-30px">
                        <div id="map-canvas"></div>
                    </div>
                </div><!-- end single-content-item -->
                <div class="section-block"></div>
            </div><!-- end location-map -->*@
                    </div><!-- end single-content-wrap -->
                </div><!-- end col-lg-8 -->
                <div class="col-lg-4">
                    <div class="sidebar single-content-sidebar mb-0">
                        <div class="sidebar-widget single-content-widget">
                            <input type="hidden" value="@Model.hotelDtl.MaxRooms" id="maxRoomHidden" />
                            <div class="sidebar-widget-item">
                                <div class="contact-form-action">
                                    <div>
                                        <div class="input-box">
                                            <label class="label-text">Check in - Check out</label>
                                            <div class="form-group">
                                                <span class="la la-calendar form-icon"></span>
                                                <input class="date-range form-control" type="text" name="daterange">
                                            </div>
                                        </div>
                                        <div class="input-box">
                                            <label class="label-text">Rooms</label>
                                            <div class="form-group">
                                                <div class="select-contain w-auto">
                                                    <select class="select-contain-select" id="roomSelect">
                                                        @*<option value="0">Select Rooms</option>*@
                                                        @for (int i = 1; i <= Model.hotelDtl.MaxRooms; i++)
                                                        {
                                                            <option value="@i">@i Room</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end sidebar-widget-item -->
                            <div class="sidebar-widget-item">
                                <div class="qty-box mb-2 d-flex align-items-center justify-content-between">
                                    <label class="font-size-16">Adults <span>Age 18+</span></label>
                                    <div class="qtyBtn d-flex align-items-center">
                                        <div class="qtyDec" id="adultDec"><i class="la la-minus"></i></div>
                                        <input type="text" name="qtyInput" value="1" id="noAdult">
                                        <div class="qtyInc" id="adultInc"><i class="la la-plus"></i></div>
                                    </div>
                                </div><!-- end qty-box -->
                                <div class="qty-box mb-2 d-flex align-items-center justify-content-between">
                                    <label class="font-size-16">Children</label>
                                    <div class="qtyBtn d-flex align-items-center">
                                        <div class="qtyDec" id="childDec"><i class="la la-minus"></i></div>
                                        <input type="text" name="qtyInput" value="0" id="noChild">
                                        <div class="qtyInc" id="childInc"><i class="la la-plus"></i></div>
                                    </div>
                                </div><!-- end qty-box -->

                            </div><!-- end sidebar-widget-item -->
                            <div class="sidebar-widget-item">
                                <div id="parentHolder">

                                </div>
                                <div id="notselected">
                                    No Add On Selected
                                </div>
                            </div>
                            <div class="sidebar-widget-item pt-4">
                                <div class="sidebar-book-title-wrap mb-3">
                                    @*<h3>Popular</h3>*@
                                    <p><span class="text-form">Total</span><span class="text-value ml-2 mr-1"> <i class="la la-rupee"></i><span id="actualPrice"></span> </span> <span class="before-price"><i class="la la-rupee"></i> @Model.hotelDtl.RoomTypePrice.ToString("G29")</span></p>
                                </div>
                            </div><!-- end sidebar-widget-item -->
                            <div class="btn-box pt-2">

                                @using (Html.BeginForm("HotelBookingDtl", "Home"))
                                {
                                    @Html.HiddenFor(x => x.preBookDtl.HotelID, new { Value = Model.hotelDtl.HotelID })
                                    @Html.HiddenFor(x => x.preBookDtl.FinalFare, new { id = "mFinalFare" })
                                    @Html.HiddenFor(x => x.preBookDtl.RoomSelect, new { id = "mRoomSelect" })
                                    @Html.HiddenFor(x => x.preBookDtl.AdultSelect, new { id = "mAdultSelect" })
                                    @Html.HiddenFor(x => x.preBookDtl.ChildrenSelect, new { id = "mChildSelect" })
                                    @Html.TextBoxFor(x => x.BookFrom, "{0:d MMM yyyy}", new { id = "mBookingFrom", Value = @ViewBag.startDate, @type = "hidden" })
                                    @Html.TextBoxFor(x => x.BookUpTo, "{0:d MMM yyyy}", new { id = "mBookingUpto", Value = @ViewBag.endDate, @type = "hidden" })
                                    @Html.HiddenFor(x => x.NoofDays, new { id = "mNoOfDays" })
                                    @Html.HiddenFor(x => x.preBookDtl.CustDetails, new { id = "mCustDetails", })

                                    <input type="submit" value="Book Now" class="theme-btn text-center w-100 mb-2" />
                                }

                            </div>
                        </div><!-- end sidebar-widget -->

                    </div><!-- end sidebar -->
                </div><!-- end col-lg-4 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end single-content-box -->
</section><!-- end tour-detail-area -->
<input hidden type="text" id="endDt" value="@ViewBag.endDate" />
<input hidden type="text" id="startDt" value="@ViewBag.startDate" />
@section Scripts{
    @*<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>*@
    <script type="text/javascript">

        $(document).ready(function () {

        $('#parentHolder').hide();
        $('#notselected').show();
        var globalRValue =@Model.hotelDtl.RoomTypePrice.ToString("G29");
        var noOfAdult = 1;
        var noOfChild = 0;
            var noofday = 1;
            var days = 1;
            var amTotal =0;
            var amnetiesArr = [];
            var amnSel = [];
            //var eendDate = $('#mBookingUpto').val();
            //var sstartDate = $('#mBookingFrom').val();
            $(".date-range").val($('#mBookingFrom').val() + ' - ' + $('#mBookingUpto').val());
            amnetiesArr.push(["Meals"]);
            $(window).on('scroll', function () {
                var scroll = $(window).scrollTop();
                if (scroll > 500) {
                    $(".sidebar").addClass("fixed-side");
                } else {
                    $(".sidebar").removeClass("fixed-side");
                }
                lastScroll = scroll;
            });
            $('.date-range').on('change', function () {
                DateCal();
                calculatePrice();
            });
            function DateCal() {
                var newdates = [];
                newdates = $('.date-range').val().split('-');
                var sDate = newdates[0];
                var eDate = newdates[1];
                var StDate = formatDate(sDate);
                var EtDate = formatDate(eDate);
                //alert(StDate,EtDate);
                var diff = new Date(EtDate - StDate);
                days = diff / 1000 / 60 / 60 / 24;
                noofday = days;
                $("#mNoOfDays").val(noofday);
                $("#mBookingFrom").val($.trim(sDate));
                $("#mBookingUpto").val($.trim(eDate));
            }

            function formatDate(date) {
                var startDtArr = date.split('/');
                return fDate = new Date(startDtArr[2], startDtArr[1] - 1, startDtArr[0]);
            }
            //Room Select

            $('#roomSelect').on('change', function () {
                //alert($('#roomSelect option:selected').val());
                calculatePrice();

            });

            $("#adultInc").click(function () {
                var maxAdult =@Model.hotelDtl.MaxOccupant;
                var newAVal = parseInt($('#noAdult').val()) + 1;

                if (parseInt(newAVal) > parseInt(maxAdult)) {
                    $('#noAdult').val(maxAdult);
                } else {
                    $('#noAdult').val(newAVal);
                }
                $('#mAdultSelect').val(newAVal);
                calculatePrice();
            });
            $("#adultDec").click(function () {
                var maxAdult =@Model.hotelDtl.MaxOccupant;
                var newAVal = parseInt($('#noAdult').val())-1;
                if (parseInt(newAVal) > parseInt(maxAdult)) {
                    $('#noAdult').val(maxAdult);
                } else if (parseInt(newAVal) != 0){
                        $('#noAdult').val(newAVal);
                }
                $('#mAdultSelect').val(newAVal);
                calculatePrice();
            });
            //child
             $("#childInc").click(function () {
                var newAVal = parseInt($('#noChild').val()) + 1;
                $('#noChild').val(newAVal);
                $('#mChildSelect').val(newAVal);
            });
            $("#childDec").click(function () {
                var newAVal = parseInt($('#noChild').val()) - 1;
                if (parseInt(newAVal) != -1) {
                    $('#noChild').val(newAVal);
                }

            });

            //amenities
            $("#amenities-table").on('click', '#amSelBtn', function () {

                var currentRow = $(this).closest("tr");

                var col1 = currentRow.find("#amSelName").html();
                var col2 = currentRow.find("#amSelPrice").html();
                var btnValu = currentRow.find("#amSelBtn").val();
                var content = col1;
                if (btnValu == "Add") {
                    currentRow.find("#amSelBtn").val("Remove");
                    amnetiesArr.push(content);
                    //alert(amnSel.length)
                    //if (amnSel.length == 0) {
                    //    amTotal = parseInt(amnSel);
                    //    amTotal = parseInt(col2);
                    //} else {
                        amTotal = parseInt(amTotal) + parseInt(col2);
                    //}
                    //alert(amnSel + "Total:" + amTotal);
                }
                if (btnValu == "Remove") {
                    currentRow.find("#amSelBtn").val("Add");
                    //amnetiesArr.pop([col1 + "-x"])
                    amnSel = $.grep(amnSel, function (value) {
                        return value != col2;
                    });
                    amnetiesArr = $.grep(amnetiesArr, function (value) {
                        return value != content;
                    });
                    //amTotal = parseInt(amTotal) - parseInt(col2 * parseInt($('#noAdult').val()));
                    amTotal = parseInt(amTotal) - parseInt(col2 * parseInt($('#noAdult').val()));
                    //alert(amnSel + "Total:" + amTotal);
                }
                if (amnetiesArr.length < 2) {
                    $('#parentHolder').hide();
                    $('#notselected').show();
                } else {
                    $('#notselected').hide();
                    $('#parentHolder').show();
                }

                   $("#parentHolder").text(amnetiesArr);

                calculatePrice();
            });


            //select Room


            $('.roomType').on("click", function (e) {

                var selRoom = $(this).attr('name');

                //alert(selRoom + parseInt($(this).attr('value')));
                $('#roomTypeSel').find('label').each(function () {
                    if ($(this).prop('id') == selRoom) {
                        $(this).text('Selected');
                    } else {
                        $(this).text('Select');
                    }

                });
                globalRValue = parseInt($(this).attr('value'));
                calculatePrice();
            });

            calculatePrice();
            //final calculation
            function calculatePrice() {
                var roomBaseValue = globalRValue;
                var totalRoom = $('#roomSelect option:selected').val();
                noOfAdult = $('#noAdult').val();
                noOfChild = $('#noChild').val();
                var tPercent = 0;
                var actValue = 0;
                var overAll = @Model.hotelDtl.OverallOfferPercentage;
                var twoPercent = @Model.hotelDtl.TwoOccupantPercentage;
                var threePercent = @Model.hotelDtl.ThreeOccupantPercentage;
                var fourPercent = @Model.hotelDtl.FourPlusOccupantPercentage;
                if (parseInt(totalRoom) > 1) {
                    roomBaseValue = parseInt(roomBaseValue) * parseInt(totalRoom);
                    actValue = roomBaseValue;
                } else {
                    actValue = roomBaseValue;
                }
                if (parseInt(noofday)  > 1) {
                    roomBaseValue = parseInt(roomBaseValue) * parseInt(noofday);
                    actValue = roomBaseValue;
                } else {
                    actValue = roomBaseValue;
                }
                if (parseInt(overAll) > 0) {
                    var newvalue = parseInt(roomBaseValue) * parseInt(overAll) / 100;
                            roomBaseValue = actValue - newvalue;
                        }
                if (parseInt(noOfAdult) == 2) {
                            tPercent = (parseInt(roomBaseValue ) * parseInt(twoPercent)) / 100;
                            var newvalue = roomBaseValue - tPercent;
                            roomBaseValue = newvalue;
                        }
                if (parseInt(noOfAdult) == 3) {
                            tPercent = (parseInt(roomBaseValue) * parseInt(threePercent)) / 100;
                            var newvalue = parseInt(roomBaseValue) - parseInt(tPercent);
                            roomBaseValue = newvalue;
                        }
                if (parseInt(noOfAdult) >= 4) {
                            tPercent = (parseInt(roomBaseValue) * parseInt(fourPercent)) / 100;
                            var newvalue = roomBaseValue - tPercent;
                            roomBaseValue = newvalue;
                }
                if (noofday == 0) {
                    //alert("Please Select Date");
                    noofday = 1;
                }
                if (parseInt(amTotal) != 0) {
                    if (noOfAdult == 1) {
                        noOfAdult = 0;
                        amTotal = parseInt(noofday) * parseInt(amTotal) + parseInt(noOfAdult) * parseInt(amTotal) + parseInt(noOfChild) * parseInt(amTotal) ;
                    }
                    else {
                        amTotal = parseInt(noofday) * parseInt(noOfAdult) * parseInt(amTotal) + parseInt(noOfChild) * parseInt(amTotal);
                    }
                }

                var finalFare = parseInt(roomBaseValue) + parseInt(amTotal);
                        //alert(finalFare);
                $('#actualPrice').text(finalFare);
                //setting values

                $('#mFinalFare').val(finalFare);
                $('#mRoomSelect').val(totalRoom);
                $('#mAdultSelect').val($('#noAdult').val());
                $('#mChildSelect').val($('#noChild').val());
                $("#mCustDetails").val(amnetiesArr);

            }
        });



        function initialize() {
            var myLatlng = new google.maps.LatLng(27.296241792837044, 88.5887073110439);
            var mapOptions = {
                zoom: 8,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            //=====Initialise Default Marker
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: 'marker'
                //=====You can even customize the icons here
            });

            //=====Initialise InfoWindow
            var infowindow = new google.maps.InfoWindow({
                content: "<B>Skyway Dr</B>"
            });

            //=====Eventlistener for InfoWindow
            google.maps.event.addListener(marker, 'click', function () {
                infowindow.open(map, marker);
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);



        var mapCanvas = document.createElement("div");
        mapCanvas.style.width = "200px";
        mapCanvas.style.height = "200px";
    </script>

}
