@model LocalConnWeb.ViewModels.HotelDetailsVM
@{
    ViewBag.Title = "HotelBookingDtl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ================================
    START BREADCRUMB AREA
================================= -->
<section class="breadcrumb-area bread-bg-10">
    <div class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-content text-center">
                        <div class="section-heading">
                            <h2 class="sec__title text-white">Cart</h2>
                        </div>
                        <span class="arrow-blink">
                            <i class="la la-arrow-down"></i>
                        </span>
                    </div><!-- end breadcrumb-content -->
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end breadcrumb-wrap -->
    <div class="bread-svg-box">
        <svg class="bread-svg" xmlns="#" viewBox="0 0 100 10" preserveAspectRatio="none"><polygon points="100 0 50 10 0 0 0 10 100 10"></polygon></svg>
    </div><!-- end bread-svg -->
</section><!-- end breadcrumb-area -->
<!-- ================================
    END BREADCRUMB AREA
================================= -->
<!-- ================================
    START CART AREA
================================= -->
<section class="cart-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cart-wrap">
                 
                    <div class="form-box">
                        <div class="table-form table-responsive mb-3">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Hotel</th>
                                        <th scope="col">Price</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">
                                            <div class="table-content product-content d-flex align-items-center">
                                                <a href="room-details.html" class="d-block">
                                                    <img src="@Model.hotelDtl.PhotoThumbPath" alt="" class="flex-shrink-0">
                                                </a>
                                                <div class="product-content">
                                                    <a href="room-details.html" class="title">@Model.hotelDtl.HotelName</a>
                                                    <div class="product-info-wrap">
                                                        <div class="product-info line-height-24">
                                                            <span class="product-info-label">Reservation:</span>
                                                            <span class="product-info-value">
                                                                <span class="product-check-in">@Model.preBookDtl.BookingFrom.ToString("dd MMM yyyy")</span>
                                                                <span class="product-mark">/</span>
                                                                <span class="product-check-out">@Model.preBookDtl.BookingUpto.ToString("dd MMM yyyy")</span>
                                                                <span class="product-nights">(1 night)</span>
                                                            </span>
                                                        </div><!-- end product-info -->
                                                        <div class="product-info line-height-24">
                                                            <span class="product-info-label">Guests:</span>
                                                            <span class="product-info-value">@Model.preBookDtl.AdultSelect Adult(s)</span>
                                                            <span class="product-info-value">@Model.preBookDtl.ChildrenSelect Child(s)</span>
                                                        </div><!-- end product-info -->

                                                        <div class="product-info line-height-24">
                                                            <span class="product-info-label">Meals:</span>
                                                            <span class="product-info-value">@Model.preBookDtl.CustDetails</span>
                                                        </div><!-- end product-info -->
                                                    </div>
                                                </div>
                                            </div>
                                        </th>
                                        <td>@Model.preBookDtl.FinalFare</td>


                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="section-block"></div>
                        <div class="form-title-wrap">
                            <h3 class="title"><i class="la la-user mr-2 text-gray"></i>Your information</h3>
                        </div><!-- form-title-wrap -->

                        @using (Html.BeginForm("PayNow", "Home"))
                        {
                        <div class="row form-content contact-form-action">
                            <div class="col-4 responsive-column">
                                <div class="input-box">
                                    <label class="label-text">Guest Name</label>
                                    <div class="form-group">
                                        <span class="la la-user form-icon"></span>
                                        @Html.TextBoxFor(x => x.preBookDtl.CustName, new { @class = "form-control", @placeholder = "Guest Name" })
                                        @Html.ValidationMessageFor(m => m.preBookDtl.CustName)
                                    </div>
                                </div>
                            </div><!-- end col-lg-6 -->

                            <div class="col-4 responsive-column">
                                <div class="input-box">
                                    <label class="label-text">Email ID</label>
                                    <div class="form-group">
                                        <span class="la la-mail-bulk form-icon"></span>
                                        @Html.TextBoxFor(x => x.preBookDtl.CustEmail, new { @class = "form-control", @placeholder = "Email ID" })
                                        @Html.ValidationMessageFor(m => m.preBookDtl.CustEmail)
                                    </div>
                                </div>
                            </div><!-- end col-lg-6 -->
                            <div class="col-4 responsive-column">
                                <div class="input-box">
                                    <label class="label-text">Mobile No</label>
                                    <div class="form-group">
                                        <span class="la la-phone form-icon"></span>
                                        @Html.TextBoxFor(x => x.preBookDtl.CustPhNo, new { @class = "form-control", @placeholder = "Mobile Name" })
                                        @Html.ValidationMessageFor(m => m.preBookDtl.CustPhNo)
                                    </div>
                                </div>
                            </div><!-- end col-lg-6 -->
                        </div><!-- end form-content -->
                            @Html.TextBoxFor(x => x.preBookDtl.HotelID)
                            @Html.TextBoxFor(x => x.preBookDtl.FinalFare)
                            @Html.TextBoxFor(x => x.preBookDtl.RoomSelect)
                            @Html.TextBoxFor(x => x.preBookDtl.AdultSelect)
                            @Html.TextBoxFor(x => x.preBookDtl.ChildrenSelect)
                            @Html.TextBoxFor(x => x.preBookDtl.BookingFrom)
                            @Html.TextBoxFor(x => x.preBookDtl.BookingUpto)
                            @Html.TextBoxFor(x => x.preBookDtl.CustDetails)
                            <div class="btn-box text-right pt-4">
                                <input type="Submit" value="Pay Now" class="theme-btn" />
                            </div>
                        }

                    </div><!-- end form-box -->
                    
                </div>
                </div><!-- end cart-wrap -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
</section><!-- end cart-area -->
<!-- ================================
    END CART AREA
================================= -->
