
@{
    ViewBag.Title = "PaymentFailed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .step-bar-list .step-bar.step-bar-active .icon-element {
        text-indent: -9999px;
        position: relative;
        background-color: #F70E01;
        border-color: #F70E01;
    }
    .step-bar-list .step-bar.step-bar-active::after, .step-bar-list .step-bar.step-bar-active::before {
        background-color: #F70E01;
    }
</style>

<!-- ================================
    START PAYMENT AREA
================================= -->
<section class="payment-area section-bg section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-box payment-received-wrap mb-0">
                    <div class="form-title-wrap">
                        <div class="step-bar-wrap text-center">
                            <ul class="step-bar-list d-flex align-items-center justify-content-around">
                                <li class="step-bar flex-grow-1 step-bar-active">
                                    <img src="~/Content/img/failed-icon-7.png" style="height:50px;" />
                                    <p class="pt-2 color-text-2">Booking Failed!</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-content">
                        <div class="payment-received-list">
                            <div class="d-flex align-items-center">
                                <i class="la la-check icon-element flex-shrink-0 mr-3 ml-0"></i>
                                <div>
                                    <h3 class="title">Your booking in @Model.hotelDtl.HotelName has Failed.</h3>
                                </div>
                            </div>
                            <ul class="list-items py-4">
                                <li><i class="la la-check text-success mr-2"></i><strong class="text-black">@Model.hotelDtl.HotelName</strong> is Expecting you on <strong class="text-black">@Model.preBookDtl.BookingFrom.ToString("dd MMM yyyy")</strong></li>
                            </ul>
                            <h3 class="title"><a href="#" class="text-black">@Model.hotelDtl.HotelName</a></h3>
                            <p>@Model.hotelDtl.HotelAddress</p>
                            <p><strong class="text-black mr-1">Phone:</strong>+ 00 222 44 5678</p>
                            <ul class="list-items list-items-3 list-items-4 py-4">
                                <li><span class="text-black font-weight-bold">Your reservation</span>@Model.preBookDtl.CustDetails</li>
                                <li><span class="text-black font-weight-bold">Check-in</span>@Model.preBookDtl.BookingFrom.ToString("dd MMM yyyy")</li>
                                <li><span class="text-black font-weight-bold">Check-out</span>@Model.preBookDtl.BookingUpto.ToString("dd MMM yyyy")</li>
                                <li><span class="text-black font-weight-bold">Total Amount</span>&#8377; @Model.preBookDtl.FinalFare.ToString("G29")</li>
                            </ul>
                            <div class="btn-box">
                                <a href="#" class="theme-btn border-0 text-white bg-7">Start from the beginning</a>
                            </div>
                        </div><!-- end card-item -->
                    </div>
                </div><!-- end payment-card -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>
<!-- ================================
    END PAYMENT AREA
================================= -->
